.desktop-view-tab {
  
  .font-icomoon {
    font-size: x-large;
  }
}

.simple-tab > .icon-container > .icon.font-icon {
	font-size: 20px;
	color: #2b73b3;
    margin-right: 10px;
}

.dialog > .header > .icon-container > .icon.font-icon {
	font-size: 20px;
	color: #2b73b3;
    margin-right: 10px;
}


.desktop-tool-box-item.menu-item > .font-icon {
	font-size: 20px;
	color: #2b73b3;
}

.desktop-notification.info {
	background-color: @notification-info-border-color;
	color: white;
	border-left: none;
    line-height: 23px;

  .closer {
    color: white;
  }	
}


.scout-info-form-logo-container {
	display: inline-block;
	float: left;
}

.scout-info-form-info {
	display: inline-block;
	margin-left: 10px;
	
	> .title{
	  font-size: large;
      margin-bottom: 10px;
	}
	
	td.value{
	  padding-left: 5px;
	}
}

.html-field {
	&.error {
	  color: @status-error-color;
	}
}


.docbox-status-box {

	border: solid 1px;
	border-radius: 5px;
	padding: 5px 0;
    margin: 3px 0;
    
	> * {
      padding-left: 10px;
      display: inline-block;
      line-height: 20px;
	}
	
	> .font-icomoon {
	  font-size: 20px;
      vertical-align: top
	  
	}
	
	> .message {
	  display: inline-block;
      vertical-align: bottom;
	}
	
	&.warning {
	  border-color: #cccc00;
	  > .font-icomoon {
	    color: #cccc00;
	  }
	}
	
	&.error {
	  border-color: #e65c00;
	   > .font-icomoon {
	    color: #e65c00;
	  }
	}
}

