.desktop-view-tab {
  
  .font-icomoon {
    font-size: x-large;
  }
}

.simple-tab > .icon-container > .icon.font-icon {
	font-size: 20px;
	color: #2b73b3;
    margin-right: 10px;
}

.dialog > .header > .icon-container > .icon.font-icon {
	font-size: 20px;
	color: #2b73b3;
    margin-right: 10px;
}


.desktop-tool-box-item.menu-item > .font-icon {
	font-size: 20px;
	color: #2b73b3;
}

.desktop-notification.info {
	background-color: @notification-info-border-color;
	color: white;
	border-left: none;
    line-height: 23px;

  .closer {
    color: white;
  }	
}